[Unit]
Description=Kiosk
Wants=graphical.target
After=graphical.target

[Service]
Environment="DISPLAY=:0"
Type=simple
ExecStart=/bin/bash /home/mike/kiosk/kiosk.sh
Restart=on-abort
User=mike
Group=mike

[Install]
WantedBy=graphical.target
